.ErrorMessage {
  color:red;
  font-weight: 700;
}

@media (max-width: 450px) {
  .ApplicationContainer {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:center;
    background-color:orange;
  }

  .ApplicationContainer__Banner {
    text-align:center;
  }
}
