.ErrorMessage {
  color:red;
  font-weight: 700;
}

@media (max-width: 450px) {
  .ApplicationContainer {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:center;
    background-color:#F8F1D9;
    height: 100vh;
    padding: 10px;
  }

  .ApplicationContainer__Banner {
    text-align:center;


  }
}
