.ErrorMessage {
  color:red;
  font-weight: 700;
}

@media (min-width: 600px) {
  .ApplicationContainer {
    padding: 30px;
  }

  .ApplicationContainer__Banner {
    padding-left: 30px;
  }

}

@media (max-width: 450px) {
  .ApplicationContainer__Banner {
    text-align:center;
    padding: 10px;
  }
}
