/* Easy way to center a fieldset cause flex is broken on fieldset */
.FieldsetContainer {
  display: block;
  margin: 0.5em auto;
  text-align: center;
  padding: 50px 20px;
}

.FlexRow {
  display:flex;
  justify-content:space-between;
}

.FieldsetContainer__Signin--Selected {
  background-color:#D35054;
}

.FieldsetContainerPrompt {
  padding: 7px 14px;
}

.FieldsetContainer__ActionButton {
  background-color: #1B4D69;
  color:white;
  padding: 14px 120px;
}

.Fieldsetcontainer__ActionTabRow {
  display:flex;
  align-items: center;
  justify-content: center;
}
